
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Workout Plans</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .workout-card {
            margin: 0 auto; /* Centers the cards within their column */
        }
        .day{
            background-color: #6ecc0e;
        }
    </style>

    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<!-- Navigation Bar -->
<div th:replace="~{fragments :: navbar}"></div>

<div class="container text-center">
    <div>
        <a  href="/user/selectWorkoutPlan" >
            <button class="btn btn-primary">Select a workout plan</button>
        </a>
    </div>


    <div class="mt-4">
        <h3>Workout Plan</h3>
        <div th:if="${#lists.isEmpty(selectedWorkoutPlans)}">
            <p>You have not selected a workout plans.</p>
        </div>
        <div th:each="selectedPlan : ${selectedWorkoutPlans}">
            <h4 th:text="${selectedPlan.name}">Your current Plan Name</h4>
            <p th:text="${selectedPlan.description}">Description</p>

            <!-- Grouped Workouts by Weekday -->
            <div class="mt-4">
                <div class="row">
                    <div th:each="workoutDay : ${selectedPlan.workoutDays}" class="mb-4">
                        <h3 th:text="${workoutDay.dayOfWeek}" class="day">Monday</h3>
                        <div class="row justify-content-center">
                            <div class="col-md-4" th:each="workout : ${workoutDay.workouts}">
                                <div class="card workout-card mb-3">
                                    <iframe th:src="${workout.workoutUrl}"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            style="width: 100%; height: 200px;">
                                    </iframe>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${workout.workoutName}">Workout Name</h5>
                                        <p class="card-text"><strong>Category:</strong> <span th:text="${workout.category}">Category</span></p>
                                        <p class="card-text"><strong>How to do it:</strong> <span th:text="${workout.workoutDescription}">Description</span></p>
                                        <p class="card-text"><strong>Reps:</strong> <span th:text="${workout.reps}">Reps</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>


